body{
    margin-top: 0px;
   
}

.bg-container{
    background-color: beige;
    
    background-size: cover;
   

}
.bg-container_{
    border: 2px solid;
    padding-left:10px;
}
header{
    position:sticky;
    top: 0px;

}
.Learning_java_image{
    width: 20%;
}
.nav-container{
    font-size: 24px;
    margin-top: 0px;
    background-color: rgb(68, 46, 49);
    padding: 10px;
    display: flex;
    list-style: none;
    color: aliceblue;
    
    justify-content: space-between;
    
}
.nav-container li a{
    text-decoration: none;
    color: aliceblue;
}
.nav-container li a:hover{
    color: rgb(42, 161, 165);
}
.nav-container{
   
    padding-left: 0px;
   
}