.bg-container{
    background-color: aqua;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    color: brown;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
button {
    color: #ffffff;
    background-color: #be4a4a;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    border-radius: 8px;
    width: 150px;
    margin-left: 16px;
  }